.a{
color: rgb(10, 25, 163);

}
.b{
    color: rgb(177, 44, 182);
}
.c{
    font-size: xx-large;
    color: rgb(113, 5, 146);
}
.full{
    background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-pastel-purple-solid-color-background.jpg);
    
}
.d{
    color: rgb(79, 103, 207);
}